<div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none" style="width: 100%; justify-content: center;">
      <span class="fs-4">Bogsy Video Store</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="side-menu-item">
        <a href="/" class="nav-link" aria-current="page">
          <i class="fas fa-home"></i>
          Home
        </a>
      </li>
  
      <li class="side-menu-item ">
        <a href="/videos" class="nav-link">
          <i class="fas fa-road"></i>
          Videos
        </a>
      </li>
      <li class="side-menu-item" >
        <a href="/customers" class="nav-link">
          <i class="fas fa-user-tie"></i>
          Customers
        </a>
      </li>
      <li class="side-menu-item ">
        <a href="/rentals" class="nav-link">
          <i class="fas fa-users"></i>
          Rentals
        </a>
      </li>
      <li class="side-menu-item">
        <a href="/reports" class="nav-link">
          <i class="fas fa-user-shield"></i>
          Reports
        </a>
      </li>
    </ul>
  </div>